@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
}
.linha{
    margin: 12px 0 ;
    border: 3px solid #454545;
    width: 100%;
}
.linha a img{
    position: absolute;
    top: 14%;
    background-color: white;
    left: 69%;
}
header{
    z-index: 2;
    padding: 20px 0;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 160px;
    border-bottom:0.5px solid #efefef;

}
.container{
    padding: 20px;
    display: flex;
    margin: 0 auto;
}
.logo{
    position: relative;
    left: 14%;
    top: -15px;
}
header div h1 img{
    height: 90px;
    width: 260px;
}

.cabecalho{
  position: absolute;
  left: 45%;
  top: 30%;
}
nav ul{
    position:relative; 
    top:40px;
}
nav li {
    display: inline;
    margin-right: 50px;
    font-size: 0.9rem;
}

nav a {
    position: relative;
    color:black;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a::after{
    content: '';
    background-color: #00C4CC;
    height: 3px;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -53px;



}
nav a:hover{
    font-weight: bold;
}
nav a:hover::after{
    width: 100%;
}
/*Criação do slider */


.container-body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top: -100px;
    height: 830px;
}
.slide-first img{
    width: 100%;
    height: 500px;
}
.slider{
    width:100vw;
    height: 318px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 318px;
    display: flex;

}
.slides input{
    display: none;

}
.slide{
    width: 100vw;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 318px;
}


.navigation-manual{
    position: absolute;
    width: 800px;
    top: 60%;
    left: 30%;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40d3dc;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 800px;
    justify-content: center;
    top: 60%;
    left: 30%;
}
.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}
/*Fechamento do slider */
.nada{
    padding: 30px;
    margin: 20px;
}
.container2{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-bottom: -150px;
}
.box1{
    margin-right: 20px;
}
.box1 img{
    border-radius: 10px;
}
.box2{
    width: 500px;
    margin-left: 10px;
}
.box2 h2{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
.box2 p {
    margin:50px 0 ;
    font-size: 1.3rem;
    line-height: 1.5;
}

/* BOX BLACK */

.box-black{
    padding: 2px ;
    display: flex;
    margin: 0 auto;
    background: #454545;
    height: 400px;
    justify-content: center;
}
.ensino-medio{
    margin-top: 20px;
    width: 20%;
    height: 80%;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    margin-left: 60px;
}

.enem{
    margin-top: 20px;
    width: 20%;
    height: 80%;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    margin-left: 60px;
}
.tradicionais{
    margin-top: 20px;
    width: 20%;
    height: 80%;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    margin-left: 60px;
}
.imagem-logo{
    height: 80px;
    margin-right: 10px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.7rem;
}
/*footer*/

.box3{
    background: #00C4CC;
    height: 440px;
    width: 100%;
}
.footer img{
    height: 90px;
    width: 260px;
    position: relative;
    top: 70px;
    left: 18%;
}
.redes-sociais a img{
    height: 30px;
    width: 30px;
    margin-right: 60px;
    position: relative;
    left: 19%;
    top: 85px;
}
.youtube{
    height: 40px;
}
.central-atendimento{
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 120px;
    margin-left: 19.5%;

}
.fale-conosco{
    font-weight: bold;
    margin-top: 12px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-left:19.5%;
}
footer{
    color: white;
    background: #003B3D;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}